﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Wahit (Ghana)<br />
    Koforidua, Eastern Region<br />
    <abbr title="Phone">P:</abbr>
    +233544686951
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ntiamoah376@yahoo.com">ntiamoah@wahit.org</a><br />
</address>
